.disconnected {
  font-size: 1.5rem;
  width: 70%;
  margin: auto;
}

.title {
  padding-left: 10px;
  /* text-align: center; */
}

.instructions {
  /* padding-left: 30%; */
}

.jive {
  color: #c2195b;
}
