.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'player mosaic';
  height: 100%;
}

.player {
  grid-area: player;
  width: 50%;
  position: fixed;
}

.mosaic {
  grid-area: mosaic;
}
