.player {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin-top: 40%;
}

.currentPlaying {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.selectPlaylists {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 60px;
}

.title {
  font-size: 60px;
}

.artist {
  font-size: 32px;
}

.media {
  display: flex;
  justify-content: center;
}
